In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import re

#### Import the data and get a high-level picture

In [65]:
df = pd.read_csv('sample_data/sales.csv')
df.head()

,order_id,name,ordered_at,price,quantity,line_total
0,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,3,$10.50
1,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,1,$3.50
2,10001,"""SORBET"" Raspberry",2018-01-01 12:14:54,$2.50,2,$5.00
3,10001,NaN,2018-01-01 12:14:54,$1.50,1,$1.50
4,10001,"""CONE"" Dipped Waffle Cone",2018-01-01 12:14:54,$3.50,1,$3.50

In [62]:
df.shape

(29922, 6)

In [63]:
df.dtypes

order_id               int64
name                  object
ordered_at    datetime64[ns]
price                float64
quantity               int64
line_total           float64
dtype: object

#### TODO: Fix column datatypes

1. Change ordered_at to datetime

2. Change price and line_total to float

In [67]:
import pandas as pd

# Load the CSV
df = pd.read_csv('sample_data/sales.csv')

# Convert 'ordered_at' to datetime data type
df['ordered_at'] = pd.to_datetime(df['ordered_at'])

# Save changes back to CSV
df.to_csv('sample_data/sales.csv', index=False)

# Print a selection of the sults
print(df.head())

   order_id                       name          ordered_at  price  quantity  \
0     10000   "ICE CREAM" Peanut Fudge 2018-01-01 11:30:00  $3.50         3
1     10000   "ICE CREAM" Peanut Fudge 2018-01-01 11:30:00  $3.50         1
2     10001         "SORBET" Raspberry 2018-01-01 12:14:54  $2.50         2
3     10001                        NaN 2018-01-01 12:14:54  $1.50         1
4     10001  "CONE" Dipped Waffle Cone 2018-01-01 12:14:54  $3.50         1

  line_total
0     $10.50
1      $3.50
2      $5.00
3      $1.50
4      $3.50

In [60]:
# TODO: Change price and line_total to float
for column in ['price', 'line_total']:
    df[column] = df[column].apply(lambda x: float(x[1:]))

In [61]:
df.dtypes

order_id               int64
name                  object
ordered_at    datetime64[ns]
price                float64
quantity               int64
line_total           float64
dtype: object

#### TODO: drop if duplicated or null

In [68]:
df[df.duplicated()].shape[0]

538

In [72]:
# TODO: use drop_duplicates() here
import pandas as pd

# Load the CSV
df = pd.read_csv('sample_data/sales.csv', 'ordered_at')

df = pd.DataFrame(df)

display(df.drop_duplicates())

<ipython-input-72-1453bb655bf6>:5: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv('sample_data/sales.csv', 'ordered_at')
<ipython-input-72-1453bb655bf6>:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('sample_data/sales.csv', 'ordered_at')

,"order_id,name,",",price,quantity,line_total"
0,"10000,""""""ICE CREAM"""" Peanut Fudge"",2018-01-01 ...",NaN
1,"10000,""""""ICE CREAM"""" Peanut Fudge"",2018-01-01 ...",NaN
2,"10001,""""""SORBET"""" Raspberry"",2018-01-01 12:14:...",NaN
3,"10001,,2018-01-01 12:14:54,$1.50,1,$1.50",NaN
4,"10001,""""""CONE"""" Dipped Waffle Cone"",2018-01-01...",NaN
...,...,...
29817,"19997,""""""CONE"""" Waffle Cone"",2018-07-28 17:40:...",NaN
29818,"19997,""""""SORBET"""" Blood Orange"",2018-07-28 17:...",NaN
29819,"19998,""""""SORBET"""" Lychee"",2018-07-28 18:21:44,...",NaN
29820,"19998,""""""ICE CREAM"""" Rocky Road"",2018-07-28 18...",NaN
29821,"19999,""""""SORBET"""" Blood Orange"",2018-07-28 18:...",NaN

In [74]:
df.isnull().sum()

order_id,name,                    0
,price,quantity,line_total    29922
dtype: int64

In [10]:
import pandas as pd

df = pd.read_csv('sample_data/sales.csv')

df[df['name'].isnull()].head()

    order_id name           ordered_at  price  quantity line_total
3      10001  NaN  2018-01-01 12:14:54  $1.50         1      $1.50
6      10002  NaN  2018-01-01 12:23:09  $3.00         3      $9.00
27     10007  NaN  2018-01-01 15:03:17  $2.50         1      $2.50
77     10026  NaN  2018-01-02 03:25:40  $0.50         2      $1.00
88     10031  NaN  2018-01-02 05:45:48  $3.50         3     $10.50

In [24]:
# TODO: use drop.na() here, remember to do it "in place"

df.dropna(inplace = True)

#### Sanity check for value ranges and to check assumptions

In [12]:
df[(df['price'] * df['quantity']) != df['line_total']].shape[0]

18934

In [23]:
df[df['line_total'] < 0].shape[0]

0

#### TODO:
1. Get rows with **line_total = price * quantity**

2. Then remove if line total < 0

In [10]:
# TODO: Set line_total = price * quantity.
df = df[(df['price'] * df['quantity']) == df['line_total']]

In [19]:
# TODO: Then remove if line total < 0

# Convert 'line_total' to numeric
df['line_total'] = pd.to_numeric(df['line_total'], errors='coerce')

# Remove rows where line_total < 0
df = df[df['line_total'] >= 0]

In [20]:
df.describe()

       order_id  quantity  line_total
count       0.0       0.0         0.0
mean        NaN       NaN         NaN
std         NaN       NaN         NaN
min         NaN       NaN         NaN
25%         NaN       NaN         NaN
50%         NaN       NaN         NaN
75%         NaN       NaN         NaN
max         NaN       NaN         NaN

#### TODO: Get value between "" in name and put it in category column by using .apply
E.g: "ICE CREAM" Peanut Fudge, here we want to extract the phrase "ICE CREAM", and put it in newly created column called **category**

In [36]:
# TODO
pattern = r'^"([A-Z ]+)" (.*)'
transform_func = lambda x: re.findall(pattern, x)[0]

df[['...', '...']] = df['name'] \
    .apply(...) \
    .apply(pd.Series)

ValueError: Columns must be same length as key

In [ ]:
df.head()

,order_id,name,ordered_at,price,quantity,line_total,category
0,10000,Peanut Fudge,2018-01-01 11:30:00,3.5,3,10.5,ICE CREAM
1,10000,Peanut Fudge,2018-01-01 11:30:00,3.5,1,3.5,ICE CREAM
2,10001,Raspberry,2018-01-01 12:14:54,2.5,2,5.0,SORBET
4,10001,Dipped Waffle Cone,2018-01-01 12:14:54,3.5,1,3.5,CONE
5,10002,Lychee,2018-01-01 12:23:09,3.0,1,3.0,SORBET

#### Analysis, finally!

In [35]:
f, ax = plt.subplots(figsize=(10, 6))
df.groupby('name')['line_total'].sum().sort_values(ascending=False).head(10).plot(kind='bar')
f.autofmt_xdate()
plt.show()

NameError: name 'plt' is not defined